# F1 ML Project — Requirements
# Team: Yohan Vora (A186) | Jugraj Singh (A188)
# NMIMS STME | Semester 4

fastf1==3.1.6
pandas>=1.5.0
numpy>=1.23.0
scikit-learn>=1.2.0
xgboost>=1.7.0
matplotlib>=3.6.0
seaborn>=0.12.0
shap>=0.41.0
joblib>=1.2.0
